{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}
    <h1>Contacts</h1>
    <ul>
        <li class="d-inline-block me-2">
            <a href="https://github.com/kirillyat" class="link-body-emphasis">
                <i class="bi bi-github fa-2x" style="color: #000000;"></i>
            </a>
        </li>
        <li class="d-inline-block me-2">
            <a href="https://t.me/kirillyat" class="link-body-emphasis">
                <i class="bi bi-telegram fa-2x" style="color: #0088cc;"></i>
            </a>
        </li>
        <li class="d-inline-block me-2">
            <a href="https://www.linkedin.com/in/kirillyat/" class="link-body-emphasis">
                <i class="bi bi-linkedin fa-2x" style="color: #0077b5;"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                </svg>
            </a>
        </li>
        <li class="d-inline-block me-2">
            <a href="https://twitter.com/kirillyat" class="link-body-emphasis">
                <i class="bi bi-twitter fa-2x" style="color: #1da1f2;"></i>
            </a>
        </li>
        <li class="d-inline-block me-2">
            <a href="https://www.instagram.com/kirillyat/" class="link-body-emphasis">
                <i class="bi bi-instagram fa-2x" style="color: #e1306c;"></i>
            </a>
        </li>
    </ul>
{% endblock %}