{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}
    <h1>Contacts</h1>
    <ul>
        <li><a href="https://github.com/kirillyat">GitHub</a></li>
        <li><a href="https://t.me/kirillyat">Telegram</a></li>
        <li><a href="https://www.linkedin.com/in/kirillyat/"><i class="fab fa-linkedin-in fa-2x" style="color: #0082ca;"></i></a></li>
        <li><a href="https://twitter.com/kirillyat">Twitter</a></li>
        <li><a href="https://www.instagram.com/kirillyat/">Instagram</a></li>
    </ul>
{% endblock %}
